.main-container {
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.swiper {
  width: 100%;
  max-width: 960px;
  height: auto;
  position: relative;
}