body {
    margin: 0;
    font-family: sans-serif;

}
.main-container {
    flex: 1;
    width: 100%;
    overflow: hidden;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
}
