.container-event {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .card-glass {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 32px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  
  .card-glass::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 2.5%;
    border-radius: 32px;
    width: 95%;
    height: 90%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
  }
  
  .event-information {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .image-flyer {
    width: 100%;
    max-width: 300px;
    border-radius: 24px;
  }
  
  .information-secundary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  
  