.container-event{
    position: relative;
    display: flex;
    flex: 1;
    z-index: 0;
    height: 100vh;
    background: url("/pictures/fondos/fondo.jpeg") no-repeat center/cover;
    width: 70%;
    height:100%;
}
/*
.main-container {
    display: flex;
    flex: 1;
    z-index: 0;
    height: 100vh;
    background: url("/pictures/events/pexels-edotommo99-2034851.jpg") no-repeat center/cover;
}
.main-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),transparent);
    z-index: 1;
}
*/
.card-glass{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: 1;
}
.card-glass:after{
    content: "";
    position: absolute;
    width: 95%;
    height: 90%;
   background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    border-radius:100px ;
    top: 5%;
    left: 2.5%;
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.event-information{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 100px;
    top: 75px;
}
.image-flyer{
    margin-left:30px;
    margin-bottom: 30px;
    width:50%;
    height:42%;
    border-radius: 50px;
}
.information-secundary{
    display: flex;
    flex-direction: column;
}
