---
import Layout from "../layouts/Layout.astro";
---
<Layout title="sesion">
    <main class="flex min-h-screen justify-center items-center flex-col">
        <button id="login">Iniciar Sesion</button>
        <button id="logout">Cerrar sesion</button>
    </main>
    <script>
        const { signIn, signOut } = await import("auth-astro/client")
        import { $ } from "../lib/dom-Selector"
        const $login=$('#login')
        const $logout=$('#logout')
        $login.onclick=()=>signIn('facebook')
        $logout.onclick=()=>signOut()
    </script>
</Layout>