---

---

<footer>
  <div class="icons-sociales">
    <a href="">
      <picture>
        <img class="icon" src="/src/assets/instagram.svg" alt="" />
      </picture>
    </a>
    <a href="">
      <picture>
        <img class="icon" src="/src/assets/facebook.svg" alt="" />
      </picture>
    </a>
    <a href="">
      <picture>
        <img class="icon" src="/src/assets/x.svg" />
      </picture>
    </a>
    <a href="">
      <picture>
        <img class="icon" src="/src/assets/youtube.svg" alt="" />
      </picture>
    </a>
  </div>
  <div class="use-cases">
    <h2>Use Cases</h2>
    <span>UI Design</span>
    <span>UI Design</span>
    <span>UI Design</span>
    <span>UI Design</span>
    <span>UI Design</span>
    <span>UI Design</span>
  </div>
  <div class="explore">
    <h2>Explore</h2>
    <span>Design</span>
    <span>Design</span>
    <span>Design</span>
    <span>Design</span>
    <span>Design</span>
    <span>Design</span>
    <span>Design</span>
  </div>
  <div class="resources">
    <h2>Resources</h2>
    <span>Blog</span>
    <span>Blog</span>
    <span>Blog</span>
    <span>Blog</span>
    <span>Blog</span>
  </div>
</footer>
<style>
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Distribuye el contenido en 4 columnas */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: aliceblue; 
}

  footer .icons-sociales {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .icon {
    width: 20px;
  }
  footer .use-cases {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .explore {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .resources {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
